{% extends "AdminArea/admin_header.html" %}
{% load static %}   
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'AdminArea/images/favicon.svg' %}" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="{% static 'AdminArea/fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'AdminArea/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'AdminArea/fonts/material.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'AdminArea/css/style.css' %}" id="main-style-link">
    <link rel="stylesheet" href="{% static 'AdminArea/css/customizer.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Two+Tone|Material+Icons+Sharp">
    <style type="text/css">
        #clock {
            font-size: 40px;
            width: 450px;
            padding: : 50px;
            text-align: center;
            border: 4px solid white;
            border-radius: 10px;
        }
        .custm-text{
            font-size: 20px;
        }
         @media only screen and (max-device-width: 480px) {
            #clock {
            font-size: 40px;
            width: 270px;
            padding: : 40px;
            text-align: center;
            border: 4px solid white;
            border-radius: 10px;
        }
    </style>

</head>

<body class="">

	
        <!-- [ Main Content ] start -->

<div class="pc-container">
    <div class="pcoded-content">ABC</div>
</div>

    <!-- Required Js -->
    <script src="{% static 'AdminArea/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/plugins/feather.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/pcoded.min.js' %}"></script>
    <script src="{% static 'AdminArea/js/plugins/highcharts.js' %}"></script>
   
<!-- Apex Chart -->
<script src="{% static 'AdminArea/js/plugins/apexcharts.min.js' %}"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
        setInterval(showTime, 1000);
        function showTime() {
            let time = new Date();
            let hour = time.getHours();
            let min = time.getMinutes();
            let sec = time.getSeconds();
            am_pm = "AM";
  
            if (hour > 12) {
                hour -= 12;
                am_pm = "PM";
            }
            if (hour == 0) {
                hr = 12;
                am_pm = "AM";
            }
  
            hour = hour < 10 ? "0" + hour : hour;
            min = min < 10 ? "0" + min : min;
            sec = sec < 10 ? "0" + sec : sec;
  
            let currentTime = hour + ":" 
                + min + ":" + sec + am_pm;
  
            document.getElementById("clock")
                .innerHTML = currentTime;
        }
  
        showTime();
</script>
<script type="text/javascript">
    $(function() {
            var options = {
                chart: {
                    height: 320,
                    type: 'pie',
                },
                labels: [ 'Paid Fees', 'Unpaid Fees'],
                series: [{{PaidPER}}, {{UnPaidPER}}],
                colors: [ "#0e9e4a", "#EA4D4D"],
                legend: {
                    show: true,
                    position: 'bottom',
                },
                dataLabels: {
                    enabled: true,
                    dropShadow: {
                        enabled: false,
                    }
                },
                responsive: [{
                    breakpoint: 480,
                    options: {
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            }
            var chart = new ApexCharts(
                document.querySelector("#pie-chart-1"),
                options
            );
            chart.render();
        });
        $(function() {
            var options = {
                chart: {
                    height: 320,
                    type: 'donut',
                },
                labels: [ 'Present Class', 'Absent Class'],
                series: [ {{PPer}}, {{APer}}],
                colors: ["#0e9e4a",  "#EA4D4D"],
                legend: {
                    show: true,
                    position: 'bottom',
                },
                plotOptions: {
                    pie: {
                        donut: {
                            labels: {
                                show: true,
                                name: {
                                    show: true
                                },
                                value: {
                                    show: true
                                }
                            }
                        }
                    }
                },
                dataLabels: {
                    enabled: true,
                    dropShadow: {
                        enabled: false,
                    }
                },
                responsive: [{
                    breakpoint: 480,
                    options: {          
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            }
            var chart = new ApexCharts(
                document.querySelector("#pie-chart-2"),
                options
            );
            chart.render();
        });
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q8H86P6FK7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Q8H86P6FK7');
</script>
<script src="{% static 'AdminArea/js/%c3%a1%c2%b9%c2%adrack.html' %}"></script>

<!-- custom-chart js -->
<script src="{% static 'AdminArea/js/pages/dashboard-sale.js' %}"></script>
{% endblock content %}
</body>


<!-- Mirrored from dashboardkit.io/bootstrap/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 Mar 2021 09:37:34 GMT -->
</html>
